<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	
	<form  action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
		<table>
			<tr>
				<th><label>Name</label></th>
				<td><input type="text" th:field="*{name}" ><br/> </td>
			</tr>
			<tr>
				<th><label>UserName</label></th>
				<td><input type="text" th:field="*{username}" ><br/> </td>
			</tr>
			<tr>
				<th><label>password</label></th>
				<td><input type="text" th:field="*{password}" ><br/> </td>
			</tr>
			<tr>
			       <button type="submit">Register</button>
			</tr>
		
		</table>
	
	</form>
	

</body>
</html>